:root {
  --side-bar-background-color: rgb(25, 146, 212);
  --side-bar-font-color: white;
  --top-bar-background-color: white;
  --top-bar-accent-color: rgb(226, 232, 240);
}


.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  grid-template-columns: minmax(200px, 250px) auto;
  grid-template-rows: clamp(150px, 20%, 200px) auto;
  grid-template-areas: 
    "side top"
    "side main";
}

.side-bar {
  grid-area: side;
  background: var(--side-bar-background-color);
  display: grid;
  grid-template-rows: minmax(min-content, 80px) minmax(min-content, 300px) auto;
  grid-template-areas:
    "side-title"
    "side-apps"
    "side-settings";
}

.top-bar {
  grid-area: top;
  background: var(--top-bar-background-color);
  display: grid;
  grid-template-columns: auto 90% auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  ". nav ."
  ". profile .";
}

.main-content {
  grid-area: main;
  background: green;

}

.side-bar > div {
  display: flex;
  flex-direction: column;
}

.side-bar-title {
  grid-area: side-title;
  justify-content: center;
}

.side-bar-apps {
  grid-area: side-apps;
  justify-content: center;
}

.side-bar-settings {
  grid-area: side-settings;
  justify-content: flex-start;
}

.label-group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2.5rem;
  grid-auto-rows: 2.5rem;
  grid-template-areas: 
    "side-icon side-label";
  color: var(--side-bar-font-color);
  align-items: center;
}

.icon {
  grid-area: side-icon;
  justify-self: center;
  /* height: 2rem; */
}

.label {
  font-size: 1.15rem;
  font-weight: bold;
  color: var(--side-bar-font-color);
  text-decoration: none;
}

.label:hover {
  text-decoration: underline;
}

.side-bar-title > div > .label {
  font-size: 1.5rem;
  text-decoration: none;
}

.side-bar-title > div > img {
  /* height: 40px; */
}

.top-bar-nav, .top-bar-profile {
  display: flex;
}

.top-bar-nav {
  grid-area: nav;
  align-items: center;
  justify-content: space-between;
}

.form-search {
  width: 70%;
  display: flex;
}

#search {
  display: inline-block;
  width: 90%;
  border: 1px solid var(--top-bar-accent-color);
  border-radius: 10px;
  background-color: var(--top-bar-accent-color);
  /* height: fit-content; */
}

.form-search > button, .notification-group > button {
  background-color: var(--top-bar-background-color);
  border: none;
}

.form-search > button:hover, .notification-group > button:hover {
  background-color: var(--top-bar-background-color);
  border: 1px solid var(--top-bar-accent-color);
}

.form-search > button:active, .notification-group > button:active {
  background-color: var(--top-bar-accent-color);
  border: 1px solid var(--top-bar-accent-color);
}

.notification-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.notification {
  height: 24px;
}

.pf-pic-small {
  height: 32px;
  border-radius: 50%;
  margin: 0 20px;
  /* border: 1px solid black; */
}