.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  grid-template-columns: clamp(100px, 15%, 250px) auto;
  grid-template-rows: clamp(150px, 20%, 200px) auto;
  grid-template-areas: 
    "side top"
    "side main";
}

.side-bar {
  grid-area: side;
  background: blue;
  display: grid;
  grid-template-rows: 10% 40% auto;
  grid-template-areas:
    "side-title"
    "side-apps"
    "side-settings";
}

.top-bar {
  grid-area: top;
  background: red;
}

.main-content {
  grid-area: main;
  background: green;
}

.side-bar-title {
  grid-area: side-title;
  background: yellow;
}

.side-bar-apps {
  grid-area: side-apps;
  background: cyan;
}

.side-bar-settings {
  grid-area: side-settings;
  background: magenta;
}